In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode

spark = SparkSession.builder.appName("array columns values into mulitple rows").getOrCreate()

data = [("Anupama", ["Python", "SQL", "PySpark"]),
    ("Ravi", ["Java", "Scala"])]
column = ["name", "skills"]

df = spark.createDataFrame(data, column)

# when we use truncate function in df.show(), it will show all charachter after 20 charachter otherwise by default it will get cut after 20 char.

df.show(truncate= False)

In [0]:
#now convert the array of multiple rows using explode function.

df_exploded = df.withColumn("skills", explode(df["skills"]))
df_exploded.show(truncate = False)